---
title: Overview
owner: Platform Engineering (TSMGR Team)
---

<strong><%= modified_date %></strong>

This topic provides an overview of configuring and installing
 <%= vars.product_full %> (<%= vars.product_short %>). Each item 
 links to more detailed instructions. 


## <a id="overview"></a> Overview

To get started with <%= vars.product_short %>:

1. **Install and configure a Kubernetes cluster:**
  <%= vars.product_short %> supports <%= vars.k8s_runtime_full %> clusters. For information about
  <%= vars.k8s_runtime_abbr %>,
  see [<%= vars.k8s_runtime_full %>](https://docs.pivotal.io/tkgi/index.html).

1. **Install and configure <%= vars.product_short %>:**
  You can choose to install <%= vars.product_short %> quickly for evaluation 
  or to install it configured for a production environment.
    * For lab and evaluation environments,
      see [Installing and Configuring in Development Mode](./installing-dev.html).
    * For production environments,
      see [Installing and Configuring](./installing.html).

1. **Configure the <%= vars.product_short %> CLI:**
  See [Configure the <%= vars.product_short %> CLI](./using.html#credentials).

1. **Register your Kubernetes workload clusters with <%= vars.product_short %>:**
    You can register clusters as well as set a default cluster.
    See [Register a Kubernetes Cluster](./managing-clusters.html#registering)
    or [Set a Default Kubernetes Cluster](./managing-clusters.html#set-default).

1. **Add an example service offering:**
  For evaluation or testing purposes,
  you can add the Bitnami MySQL chart to <%= vars.product_short %>.
  To add the Bitnami MySQL chart:
      1. Clone the `bitnami/charts` repo by running:

          ```
          git clone https://github.com/bitnami/charts.git
          
          ```
      1. Add the MySQL service offering by following the procedure in
          [Add a Service Offering to <%= vars.product_short %>](./using.html#add).

1. **Enable developer access to the service offering:**
  See [Enable Service Offering Access](./using.html#enable).

##<a id="next-steps"></a> Next Steps

After completing the process outlined above,
developers can use Cloud Foundry Command Line Interface (cf CLI) commands to
manage a MySQL service instance. This service instance runs on a Kubernetes cluster.

Follow the procedures in [Configuring a Helm Chart](./configure-helm.html) 
and [Preparing a Service Offering](./prepare-offer.html) to add additional services
to your marketplace.  
