---
title: Container Services Manager for Pivotal Platform (Beta)
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>
This topic is an overview of  <%= vars.product_full %>.

## <a id='overview'></a>Overview

 <%= vars.product_short %> enables operators
to provide application developers with access to services through the `cf marketplace`.
These services run on Enterprise Pivotal Container Service (Enterprise PKS)
for consumption by <%= vars.pas_full %> apps.

For more information about the `cf marketplace`,
see [Pivotal Cloud Foundry Developer Guide](https://docs.pivotal.io/pivotalcf/2-5/devguide/index.html).
For more information about Enterprise PKS,
see [Enterprise Pivotal Container Service (PKS)](https://pivotal.io/platform/pivotal-container-service).

<%= vars.product_short %> enables platform operators to do the following:

* Offer ISV and open source Helm charts as on-demand services to <%= vars.pas_short %> developers.

<%= vars.product_short %> enables app developers to do the following:

* Provision dedicated service instances onto a PKS cluster through the `cf marketplace`.
* Consume services running on Enterprise PKS in apps running on <%= vars.pas_short %>.

## <a id='features'></a> Key Features

<%= vars.product_short %> includes the following key features:

* A service broker that provisions dedicated service instances into a
PKS cluster and binds service instances to PAS apps.
* A command line interface (CLI) for managing service offerings.
* The ability to easily create and manage a catalog of services to the `cf marketplace`.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.X.XX</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>XXXX XX, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>0.X.X</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.pas_short %> version(s)</td>
        <td>2.2, 2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>Compatible Enterprise PKS version(s)</td>
        <td>1.2, 1.3, and 1.4</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

<%= vars.product_short %> requires the following:

* **PKS CLI:** For information about installing the PKS CLI,
  see [Installing the PKS CLI](https://docs.pivotal.io/pks/installing-pks-cli.html).
* **KSM CLI:** For information about installing the KSM CLI, see
[Install the KSM CLI](./installing.html#ksm) .
* **PAS Deployment:** A running PAS deployment with CredHub enabled that is installed on the
same foundation as <%= vars.product_short %>.
* **PKS Cluster:** A running PKS cluster.
* **Private Container Registry (optional):** You need this to manage container images
in air-gapped environments.
  Pivotal recommends using a private container registry in production deployments.
  You can use a container registry such as
  [Harbor](https://network.pivotal.io/products/harbor-container-registry).
* **Helm CLI (optional):** For information about installing the Helm CLI,
see [Installing Helm](https://helm.sh/docs/using_helm/#installing-helm) in the Helm documentation.
* **Docker CLI (optional):** See [Docker](https://www.docker.com/).

## <a id="limitations"></a>Limitations

Dedicated service instances created by <%= vars.product_short %> provision
an IaaS load balancer for ingress into each service instance.
You cannot use ClusterIP for ingress.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue,
send an email to [<%= vars.product_full %> Feedback](mailto:ksm-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
