---
title: Tanzu Service Manager
owner: Platform Engineering (TSMGR Team)
---

<strong><%= modified_date %></strong>

This topic is an overview of <%= vars.product_full %> (<%= vars.product_short %>).

[![3-minute product overview:](/images/overview-video-preview.png)](https://www.youtube.com/watch?v=NoJfMIXi0jo)
To watch a 3-minute summary on YouTube, click the image above.


## <a id='overview'></a> Overview

 <%= vars.product_short %> enables operators
to provide app developers with access to services through the `cf marketplace`.
These services run on Kubernetes clusters such as those created with <%= vars.k8s_runtime_full %>
for consumption by <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) apps.

For more information about the `cf marketplace`, see
[Managing Service Instances with the cf CLI](https://docs.pivotal.io/application-service/devguide/services/managing-services.html).
For more information about <%= vars.k8s_runtime_abbr %>,
see [<%= vars.k8s_runtime_full %>](https://docs.pivotal.io/tkgi/1-8/index.html).

<%= vars.product_short %> enables platform operators to:

* Offer ISV and open-source Helm charts as on-demand services to <%= vars.app_runtime_abbr %>
developers.

<%= vars.product_short %> enables app developers to:

* Provision dedicated service instances onto a Kubernetes cluster through the `cf marketplace`.
* Consume services running on <%= vars.k8s_runtime_abbr %> in apps running on
<%= vars.app_runtime_abbr %>.


## <a id='features'></a> Key Features

<%= vars.product_short %> includes the following key features:

* A service broker that provisions dedicated service instances into a
Kubernetes cluster and binds service instances to <%= vars.app_runtime_abbr %> apps.
* A Command Line Interface (CLI) for managing service offerings.
* The ability to create and manage a catalog of services to the `cf marketplace`.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td><%= vars.product_short %> version</td>
        <td>1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 5, 2020</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_abbr %> versions</td>
        <td>2.10, 2.9, 2.8, 2.7, 2.6, 2.5, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.k8s_runtime_abbr %> versions</td>
        <td>1.7, 1.6, 1.5, 1.4, and 1.3</td>
    </tr>
    <tr>
        <td>Compatible Kubernetes versions</td>
        <td>1.18, 1.17, and 1.16</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

<%= vars.product_short %> requires:

* **<%= vars.app_runtime_abbr %> Deployment:** A running <%= vars.app_runtime_abbr %> deployment.
* **Kubernetes Cluster:** A running Kubernetes cluster. <%= vars.product_short %> supports
<%= vars.k8s_runtime_full %> clusters. For information about <%= vars.k8s_runtime_abbr %>,
see [<%= vars.k8s_runtime_full %>](https://docs.pivotal.io/pks/index.html).


## <a id="limitations"></a> Limitations

Dedicated service instances created by <%= vars.product_short %> either provision
an IaaS load balancer or use an ingress controller for ingress into each service instance.
You cannot use ClusterIP for ingress.


## <a id="feedback"></a> Feedback

If you have a feature request, questions or information about an issue, send an email to
[<%= vars.product_full %> (<%= vars.product_short %>) Feedback](mailto:ksm-feedback@pivotal.io).

<%#
## <a id='license'></a> License

This product is distributed under the
[VMware Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license. %>
