---
title: Installing and Configuring KSM
owner: Platform Engineering (KSM Team)
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure
<%= vars.product_full %> (<%= vars.product_short %>) using Helm.


## <a id="overview"></a> Overview

Helm is a Kubernetes open source package manager.
You can use a Helm chart to install and configure <%= vars.product_short %>.

To install and configure <%= vars.product_short %> using Helm:

1. [Get <%= vars.product_short %> Resources From <%= vars.product_network %>](#get)

1. [Install the <%= vars.product_short %> CLI](#cli)

1. [Move <%= vars.product_short %> Images](#move-images)

1. [Configure the <%= vars.product_short %> Helm Chart](#configure)

1. [Install the Helm Chart](#install)

1. [Configure Security](#security)

1. [(Optional) Install Prometheus](#prometheus)


## <a id="prereq"></a>Prerequisites

Before you install <%= vars.product_short %> using Helm:

* **<%= vars.product_short %> CLI:** For information about installing the <%= vars.product_short %> CLI, see
[Install the <%= vars.product_short %> CLI](./installing.html#cli) .

* **Helm 3 CLI:** For information about installing the Helm CLI,
see the [Helm documentation](https://helm.sh/docs/intro/).

* **Docker CLI:** For information about installing Docker, see [Docker](https://www.docker.com/).

* **<%= vars.app_runtime_abbr %> Deployment:** A running <%= vars.app_runtime_abbr %> deployment.

* **Kubernetes Cluster:** A running Kubernetes cluster. <%= vars.product_short %> supports <%= vars.k8s_runtime_full %> clusters. For information
about <%= vars.k8s_runtime_abbr %>, see [<%= vars.k8s_runtime_full %>](https://docs.pivotal.io/pks/index.html).

* **S3 Compatible Storage:** <%= vars.product_short %> requires a S3-compatible bucket to store offered charts and the chart cache.
For more information, see [Configuring External Storage](./storage.html).

* **Private Container Image Registry:** You need this to manage container images
in air-gapped environments.
  VMware recommends using a registry in production deployments.
  You can use a registry such as [Harbor](https://network.pivotal.io/products/harbor-container-registry).

* **Verify that a default StorageClass exists on the cluster where you want to install
<%= vars.product_short %>:**
If you are using Tanzu Kubernetes Grid Integrated Edition, see
[Specify a Default StorageClass](https://docs.pivotal.io/tkgi/1-8/volumes.html#default-storage-class).
For more information about Storage Classes, see
[Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/).

* **(Optional) If you are using Ingress, install the Ingress controller on the cluster where you want to install
<%= vars.product_short %>:** You must also reserve a subdomain for <%= vars.product_short %>
in your DNS.
For information about Ingress, see the
[Kubernetes documentation](https://kubernetes.io/docs/concepts/services-networking/ingress/).


## <a id='get'></a> Get <%= vars.product_short %> Resources From <%= vars.product_network %>

To get the resources needed from <%= vars.product_network %> to install <%= vars.product_short %>:

1. Log in and navigate to **<%= vars.product_full %> (<%= vars.product_short %>)** in
[<%= vars.product_network %>](https://network.pivotal.io/).

1. Get the following resources:
    + **The <%= vars.product_short %> Command Line Interface (CLI):** Click **CLIs** and download
    the CLI for your operating system.
    + **Docker `pull` commands:** Click **Image References** and record the `docker pull`
    commands for the **broker**, **daemon**, **chartmuseum**, and **postgresql**.
    You can alternatively download the image `tgz` files from the `images` directory.
    + **Helm chart TGZ file:** Click **ksm-VERSION-NUMBER.tgz** and download the Helm chart
    for <%= vars.product_short %>.


## <a id='cli'></a>  Install the <%= vars.product_short %> CLI

To install the <%= vars.product_short %> Command Line Interface (CLI):

1. Rename the downloaded <%= vars.product_short %> CLI file as `ksm`.

1. Make the <%= vars.product_short %> binary act as an executable file by running:

    ```bash
    chmod +x ksm
    ```

1. Move the binary file into your `PATH` by running:

    ```bash
    mv ksm /usr/local/bin/ksm
    ```

1. Ensure <%= vars.product_short %> CLI is working properly:

    ```bash
    ksm version
    ```

## <a id='move-images'></a> Move <%= vars.product_short %> Images

To move your <%= vars.product_short %> images to a private container image registry:

1. Move the images to your local system by running the `docker pull` commands you recorded in
    [Get <%= vars.product_short %> Resources From <%= vars.product_network %>](#get) above.<br><br>If
    you downloaded the `tgz` files instead of using the `docker pull` commands,
    load those images to your local system by running `docker load -i FILE-PATH`.

1. Tag the images for your registry by running these commands:

    ```bash
    docker tag registry.pivotal.io/container-services-manager/broker:VERSION-NUMBER \
     REGISTRY/container-services-manager/broker:VERSION-NUMBER

    docker tag registry.pivotal.io/container-services-manager/daemon:VERSION-NUMBER \
     REGISTRY/container-services-manager/daemon:VERSION-NUMBER

    docker tag registry.pivotal.io/container-services-manager/chartmuseum:CHARTMUSEUM-VERSION-NUMBER \
     REGISTRY/container-services-manager/chartmuseum:CHARTMUSEUM-VERSION-NUMBER

    docker tag registry.pivotal.io/container-services-manager/postgresql:POSTGRESQL-VERSION-NUMBER \
     REGISTRY/container-services-manager/postgresql:POSTGRESQL-VERSION-NUMBER
    ```

    Where:
    + `VERSION-NUMBER` is the <%= vars.product_short %> release version number.
      This value is in the `docker pull` command that you recorded in
      [Get <%= vars.product_short %> Resources From <%= vars.product_network %>](#get) above.
    + `REGISTRY` is the private container image registry you configured for <%= vars.product_short %>.
    + `CHARTMUSEUM-VERSION-NUMBER` is the ChartMuseum version number.
      This value is in the `docker pull` command that you recorded in
      [Get <%= vars.product_short %> Resources From <%= vars.product_network %>](#get) above.
    + `POSTGRESQL-VERSION-NUMBER` is the PostgreSQL version number.
      This value is in the `docker pull` command that you recorded in
      [Get <%= vars.product_short %> Resources From <%= vars.product_network %>](#get) above.

1. Push the images to your registry by running these commands:

    ```bash
    docker push REGISTRY/container-services-manager/broker:VERSION-NUMBER
    docker push REGISTRY/container-services-manager/daemon:VERSION-NUMBER
    docker push REGISTRY/container-services-manager/chartmuseum:CHARTMUSEUM-VERSION-NUMBER
    docker push REGISTRY/container-services-manager/postgresql:POSTGRESQL-VERSION-NUMBER
    ```


## <a id='configure'></a> Configure the <%= vars.product_short %> Helm Chart

To configure the <%= vars.product_short %> Helm chart:

1. Unzip the downloaded <%= vars.product_short %> Helm chart by running:

    ```bash
    tar zxvf ksm-VERSION-NUMBER.tgz
    ```
   The above command creates a new directory named `ksm`.

1.  In the `ksm/values.yaml` file, add the credentials for your S3-compatible bucket using the template below:

    ```yaml
    chartmuseum:
      env:
        open:
          STORAGE_AMAZON_BUCKET: BUCKET-NAME
          STORAGE_AMAZON_ENDPOINT: ENDPOINT
        secret:
          AWS_ACCESS_KEY_ID: ACCESS-KEY
          AWS_SECRET_ACCESS_KEY: SECRET
    ```
    Where:
    + `BUCKET-NAME` is your S3 bucket name.
    + `ENDPOINT` is your S3 endpoint. For example, in Google Cloud Platform (GCP) it is `storage.googleapis.com`.
    + `ACCESS-KEY` is your S3 access key ID.
    + `SECRET` is your S3 secret access key.

    <p class="note">
      <strong>Note:</strong> The above credentials are for AWS.
      Depending on your IaaS, the credentials might not be a comprehensive list of the keys you need.
      For example, you might need to set <code>STORAGE_AMAZON_REGION</code>
      if you are not using using the default region.
      For more information about configurations, see
      <a href="https://github.com/helm/charts/tree/master/stable/chartmuseum">ChartMuseum Helm Chart</a> in GitHub.
    </p>

1. Edit your `ksm/values.yaml` file to enable Ingress service access. 
    + Create secrets with TLS certificate data in the same namespace where <%= vars.product_short %> will be installed:
        ```
        kubectl create secret tls daemon-cert --key DAEMON-KEY-FILE --cert DAEMON-CERT-FILE -n  <%= vars.product_short %>-NAMESPACE
        kubectl create secret tls broker-cert --key BROKER-KEY-FILE --cert BROKER-CERT-FILE -n  <%= vars.product_short %>-NAMESPACE
        ``` 
      Where:
      + `<%= vars.product_short %>-NAMESPACE` is the namespace where <%= vars.product_short %> will be installed
    
    + Add the following to your values file:
        ```yaml
        ingress:
         enabled: true
         hosts:
         - INGRESS-DOMAIN
         annotations:
           ANNOTATION-KEY: ANNOTATION-VALUE
         tls:
         - secretName: daemon-cert
           hosts:
             - daemon.INGRESS-DOMAIN
         - secretName: broker-cert
           hosts:
             - broker.INGRESS-DOMAIN
        ```
        Where:
        + `INGRESS-DOMAIN` is the name of your provisioned domain.
        + `ANNOTATION-KEY` and `ANNOTATION-VALUE` is the annotation required by your Ingress controller.

        These values depend on the Ingress controller you use.
        For example, `kubernetes.io/ingress.class: nginx ` or `kubernetes.io/tls-acme: 'true'`

1. Define a secure password to authenticate your services by adding:

    ```yaml
    broker:
     password: BROKER-PASSWORD
    daemon:
     password: DAEMON-PASSWORD
    chartmuseum:
     env:
       open:
         BASIC_AUTH_PASS: CHARTMUSEUM-PASSWORD
    postgresql:
     postgresqlPassword: POSTGRESQL-PASSWORD
     encryptionKey: POSTGRESQL-ENCRYPTION-KEY
    ```

     Where:
     + `BROKER-PASSWORD` is a secure password for the <%= vars.product_short %> broker.
     + `DAEMON-PASSWORD` is a secure password for the <%= vars.product_short %> daemon.
     + `CHARTMUSEUM-PASSWORD` is a secure password for ChartMuseum.
     + `POSTGRESQL-PASSWORD` is a secure password for PostgreSQL.
     + `POSTGRESQL-ENCRYPTION-KEY` is an encryption key that is at least 12 characters.

1. Define values for your registry by adding:

    ```yaml
    broker:
     image:
       repository: REGISTRY/container-services-manager/broker
    daemon:
     image:
       repository: REGISTRY/container-services-manager/daemon
    chartmuseum:
     image:
       repository: REGISTRY/container-services-manager/chartmuseum
    postgresql:
     image:
       registry: REGISTRY
    ```
    Where `REGISTRY` is your private container image registry.

1. Add the credentials for the registry where the <%= vars.product_short %> images are by adding:

    ```yaml
    imageCredentialsForKSMImages:
     registry: REGISTRY
     username: REGISTRY-USERNAME
     password: REGISTRY-PASSWORD
    ```
    Where:
    + `REGISTRY` is the registry you configured for installation images.
    + `REGISTRY-USERNAME` is the username for the registry.
    + `REGISTRY-PASSWORD` is the password for the registry.

    <p><%= vars.product_short %> is using this registry for:</p>
    <ul>
      <li><strong><%= vars.product_short %> installation docker images:</strong> a new secret named
      <code>registrySecretName</code> of type <code>dockerconfigjson</code> is created with these credentials.</li>
    </ul>

1. Add the credentials for the registry where the service instance images will come from:

    ```yaml
    imageCredentialsForServiceInstances:
     registry: REGISTRY-INSTANCES
     username: REGISTRY-INSTANCES-USERNAME
     password: REGISTRY-INSTANCES-PASSWORD
    ```
    Where:
    + `REGISTRY-INSTANCES` is the registry you configured to offer images.
    + `REGISTRY-INSTANCES-USERNAME` is the username for the registry.
    + `REGISTRY-INSTANCES-PASSWORD` is the password for the registry.

    <p><%= vars.product_short %> is using this registry for:</p>
    <ul>
      <li><strong>The backing registry for the services that <%= vars.product_short %>
      deploys:</strong> <%= vars.product_short %> modifies the Helm charts that you offer to
      point to images in the registry.</li>
    </ul>
    <p class="note">
      <strong>Note:</strong> Although this configuration is optional, VMware recommends using a
      private container registry in production.
    </p>

1. Add your Cloud Foundry environment by adding:

    ```yaml
    cf:
     apiAddress: http://api.SYSTEM-DOMAIN
     username: CF-USERNAME
     password: CF-PASSWORD
     brokerName: ksm
     brokerUrl: http://broker.INGRESS-DOMAIN
    ```
    Where:
    + `SYSTEM-DOMAIN` is the system domain for <%= vars.app_runtime_abbr %>.
    + `CF-USERNAME` is your username for <%= vars.app_runtime_abbr %>.
    + `CF-PASSWORD` is your password for <%= vars.app_runtime_abbr %>.
    + `INGRESS-DOMAIN` is the name of your provisioned domain.

1. Specify which Postgres database to use:
    + **Internal Postgres Configuration:** VMware discourages internally
      configuring Postgres for production environments.

        ```
        postgresql:
          enabled: true
          image:
            registry: REGISTRY
            repository: container-services-manager/postgresql
            tag: latest
          serviceAccount:
            enabled: true
          postgresqlUsername: USERNAME
          postgresqlPassword: PASSWORD
          postgresqlDatabase: DATABASE
          encryptionKey: ENCRYPTION-KEY
        ```
    + **External Postgres configuration:**

        ```
        postgresql:
          enabled: false
          postgresqlUsername: USERNAME
          postgresqlPassword: PASSWORD
          postgresqlDatabase: DATABASE
          encryptionKey: ENCRYPTION-KEY
          host: HOST
          dbSkipSSL: DB-SKIP-SSL
          caCert: |
            CA-CERT
        ```
        Where:
        + `REGISTRY` is the registry location for the <%= vars.app_runtime_abbr %> image.
        + `USERNAME` is the PostgreSQL username.
        + `PASSWORD` is the PostgreSQL password.
        + `DATABASE` is the schema within PostgreSQL where the tables for <%= vars.product_short %> are located.
        + `ENCRYPTION-KEY` is used to symmetrically encrypt sensitive data before you save it in PostgreSQL.
        + `HOST` is the domain for the database.
        + `DP-SKIP-SSL` can be set to `true` when an internal database is used. SSL or TLS should be used through service mesh.
        + `CA-CERT` is the SSL or TLS certificate authority (CA) certificate for
        the PostgreSQL database connection. This certificate is required when `dbSkipSSL` is `false`.


## <a id='install'></a> Install the Helm Chart

To install the Helm chart:

1. From the root level of the chart, install the Helm chart by running these commands:

    ```bash
    kubectl create ns <%= vars.product_short %>-NAMESPACE
    helm install RELEASE-NAME . -n <%= vars.product_short %>-NAMESPACE --wait
    ```
    Where:
    + `RELEASE-NAME` is a name you choose for the release.
    + `<%= vars.product_short %>-NAMESPACE` is a name you choose for the <%= vars.product_short %> dedicated namespace.

1. If are using a load balancer:
    1. Retrieve the broker IP address by running:

        ```bash
        export BROKER_IP=$(kubectl get service ksm-ksm-broker -n <%= vars.product_short %>-NAMESPACE -o=jsonpath='{@.status.loadBalancer.ingress[0].ip}')
        ```
    1. Upgrade your Helm release by running:

        ```bash
        helm upgrade RELEASE-NAME . --reuse-values \
          --set cf.brokerUrl="http://${BROKER_IP}" \
          --set cf.brokerName=ksm \
          --set cf.apiAddress=http://api.SYSTEM-DOMAIN \
          --set cf.username=CF-USERNAME \
          --set cf.password=CF-PASSWORD \
          -n KSM-NAMESPACE
        ```
        Where:
        + `RELEASE-NAME` is the name of the release.
        + `SYSTEM-DOMAIN` is the system domain for <%= vars.app_runtime_abbr %>.
        + `CF-USERNAME` is your username for <%= vars.app_runtime_abbr %>.
        + `CF-PASSWORD` is your password for <%= vars.app_runtime_abbr %>.
        + `<%= vars.product_short %>-NAMESPACE` is a name you choose for the <%= vars.product_short %> dedicated namespace.

        The above commands add your Cloud Foundry environment to <%= vars.product_short %>.

## <a id="security"></a> Configure Security

VMware recommends configuring security on your Kubernetes cluster for <%= vars.product_short %>.

To configure security:

1. Secure <%= vars.product_short %> secrets by using a secret provider.
    See [Encrypting Secret Data at Rest](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/)
    in the Kubernetes documentation.
1. Enable network policies on the cluster to secure traffic between services.
    See [Network Policies](https://kubernetes.io/docs/concepts/services-networking/network-policies/)
    in the Kubernetes documentation.
    Some settings can vary between clouds. For example, in GKE, network policies are not enabled by default.
    For more information, see your cloud-specific documentation.
1. Secure traffic between <%= vars.product_short %> components.
For example, you can secure traffic using a service mesh such as [Linkerd](https://linkerd.io/2/getting-started/).
For instructions on how to use Linkerd, see [Configure Service Mesh](#service-mesh) below.


### <a id="service-mesh"></a> Configure Service Mesh

To configure a Linkerd service mesh:

1. Install Linkerd on your Kubernetes cluster using one of the following methods:
      + Install the service mesh using the Linkerd CLI by following the procedures in
      [Getting Started](https://linkerd.io/2/getting-started/) in the Linkerd documentation.
      + Install the service mesh using a Helm chart by following the procedures in
[Installing Linkerd with Helm](https://linkerd.io/2/tasks/install-helm/) in the Linkerd documentation.

1. Add the following annotations in the <%= vars.product_short %> Helm chart `values.yaml` file:

    ```yaml
    broker:
     annotations:
       linkerd.io/inject: enabled
    daemon:
     annotations:
       linkerd.io/inject: enabled
    chartmuseum:
     replica:
       annotations:
         linkerd.io/inject: enabled
     daemon:
       annotations:
         linkerd.io/inject: enabled
     chartmuseum:
       replica:
         annotations:
           linkerd.io/inject: enabled
     postgresql:
       master:
         podAnnotations:
           linkerd.io/inject: enabled
       slave:
         podAnnotations:
           linkerd.io/inject: enabled
     minio:
       podAnnotations:
         linkerd.io/inject: enabled
    ```

1. Ensure you have the correct permissions to run `linkerd tap` on the cluster by
    following the procedures in the
    [Securing Your Cluster](https://linkerd.io/2/tasks/securing-your-cluster) in the Linkerd documentation.

1. Verify that <%= vars.product_short %> is added to the mesh by running:

    ```bash
    linkerd stat deployments -n KSM-NAMESPACE
    ```
    Where `KSM-NAMESPACE` is the namespace where <%= vars.product_short %> is running.

1. Verify that TLS is working on the deployment by running:

    ```bash
    linkerd -n KSM-NAMESPACE tap deploy/DAEMON-DEPLOYMENT
    ```
    Where `DAEMON-DEPLOYMENT` is the deployment for the daemon. For example, `RELEASE-NAME-ksm-daemon`.


## <a id="prometheus"></a> (Optional) Install Prometheus

You can view metrics for <%= vars.product_short %> if you have Prometheus running in the cluster.
You must install Prometheus in each cluster you want to view metrics for.

To install Prometheus to a cluster:

1. Install the Prometheus Helm chart by running these commands:

    ```bash
    kubectl create ns prometheus

    helm install prometheus stable/prometheus -n prometheus
    ```

1. Create a Kubernetes port forward to your local host by running these commands:

    ```
    export POD_NAME=$(kubectl get pods --namespace prometheus -l "app=prometheus,component=server" -o jsonpath="{.items[0].metadata.name}")

    kubectl --namespace prometheus port-forward $POD_NAME 9090
    ```

1. Access the Prometheus UI in your web browser at [http://localhost:9090](http://localhost:9090).

1. To view metrics for KSM, type `{app_kubernetes_io_name="ksm"}` in the expression box and click **Execute**.


## <a id="next-steps"></a> Next Steps

After installing and configuring <%= vars.product_short %>, follow the procedures below:

* [Using <%= vars.product_short %>](using.html)

* [Managing Kubernetes Clusters for <%= vars.product_short %>](managing-clusters.html)
