---
title: Installing and Configuring KSM
owner: Platform Engineering (KSM Team)
---
<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial "../../ksm/partials/services/beta-notice" %>

This topic describes how to install and configure <%= vars.product_full %>.

##<a id='ksm'></a>  Install the KSM CLI

To install the KSM CLI:

1. Log in and navigate to **<%= vars.product_full %>** in
[Pivotal Network](https://network.pivotal.io/).

1. Click **<%= vars.product_cli %>** and download the CLI for your operating system.

1. Rename the downloaded binary file to `ksm`.

1. If you use MacOS or Linux, make the KSM binary act as an executable file by running the following command:

    <pre class="terminal">chmod +x ksm</pre>

1. Move the binary file into your `PATH`.
If you use MacOS or Linux, move the binary file into your `PATH` by running the following command:

    <pre class="terminal">mv ksm /usr/local/bin/ksm</pre>

##<a id='install'></a> Download and Install the Tile

To add <%= vars.product_short %> to Ops Manager:

1. Log in and download the <%= vars.product_full %> tile from
[Pivotal Network](https://network.pivotal.io/).

1. Navigate to the **Ops Manager Installation Dashboard** where
you have installed <%= vars.pas_full %>.
<%= vars.product_short %> registers itself with the <%= vars.pas_short %>
marketplace and therefore must be installed in an environment with <%= vars.pas_short %>.

1. Click **Import a Product** to upload the product file.

1. Under **Import a Product**, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly-added **<%= vars.product_full %>** tile to open its configuration panes.

## <a id="configure"></a>Configure the Tile
Follow the steps below to configure <%= vars.product_short %> service.


###<a id='az-networks'></a> Configure AZs and Networks

Follow the steps below to select an availability zone (AZ) to run the
service broker and to select networks.

 1. Click **Assign AZs and Networks**

 1. Configure the fields as follows:
   <table>
     <tr><th>Field</th><th>Instructions</th></tr>
     <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ that you want the singleton VMs to run in.
            This selection does not affect <%= vars.product_short %>.</td>
     </tr>
     <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select additional AZs.
            This selection controls the regions in which <%= vars.product_short %> is deployed.</td>
     </tr>
     <tr>
        <td><strong>Network</strong></td>
        <td>Select the same network you use for the <%= vars.pas_short %> component VMs.
          To view the network PAS component VMs use, navigate to <strong>PCF Ops Manager</strong> >
          <strong><%= vars.product_full %></strong> > <strong>Assign AZs and Networks</strong>.
        </td>
     </tr>
   </table>
    <p class="note warning"><strong>Warning:</strong> If you change the network or its IP address
       after they are assigned your deployment fails. For more information,
       see <a href="https://docs.pivotal.io/rabbitmq-cf/changing-ips.html">Changing Network or IP Addresses Results in a Failed Deployment</a>.
     </p>

 2. Click **Save**.


### <a id="kubeconfig"></a> Configure Cluster Credentials

To use the Pivotal Container Service Command Line Interface (PKS CLI) to configure
default settings for your kubeconfig:

1. Retrieve your cluster credentials with the PKS CLI by
   doing the procedure in [Retrieve Cluster Credentials](https://docs.pivotal.io/pks/cluster-credentials.html#get-credentials).

1. Navigate to `$HOME/.kube/config` and record the following values for your cluster:
  + `certificate-authority-data`. This value is the CA certificate for the PKS cluster.
  + `server`. This value includes both the Kubernetes API endpoint and port in the format `ENDPOINT:PORT`.

1. Create a dedicated service account for <%= vars.product_short %>
with the `cluster-admin` role:
    1. Create a YAML file for the <%= vars.product_short %> service account
    and `ClusterRoleBinding` using the following YAML:

        ```yml
        ---
        apiVersion: v1
        kind: ServiceAccount
        metadata:
          name: ksm-admin
          namespace: kube-system
        ---
        apiVersion: rbac.authorization.k8s.io/v1beta1
        kind: ClusterRoleBinding
        metadata:
          name: ksm-cluster-admin
        roleRef:
          apiGroup: rbac.authorization.k8s.io
          kind: ClusterRole
          name: cluster-admin
        subjects:
          - kind: ServiceAccount
            name: ksm-admin
            namespace: kube-system
        ```
        For information about service accounts,
        see [Managing Service Accounts](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin) in the Kubernetes documentation. <br>

        For information about `ClusterRoleBinding`,
        see [RoleBinding and ClusterRoleBinding](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#rolebinding-and-clusterrolebinding)
        in the Kubernetes documentation.  <br><br>
    1. Create the service account and `ClusterRoleBinding` defined in your YAML file
    by running the following command:

        ```
        kubectl apply -f SERVICE-ACCOUNT.yml
        ```
        Where `SERVICE-ACCOUNT` is name of the YAML file you created in the previous step.

1. Print your service account token by running the following commands:

    <pre class="terminal">$ secret&#95;name=$(kubectl get serviceaccount ksm-admin \
      --namespace=kube-system -o jsonpath='{.secrets[0].name}')  <br>
    $ secret&#95;val=$(kubectl --namespace=kube-system get secret $secret&#95;name \
      -o jsonpath='{.data.token}') <br>
    $ echo ${secret&#95;val} | base64 --decode</pre>

    <br>
    Record the output.
1. Navigate to **PCF Ops Manager** > **<%= vars.product_full %>** > **Kubernetes Configuration**.

1. Configure the fields as follows:
   <table class="nice">
  <tr>
  <th>Field</th>
  <th>Instructions</th>
  </tr>
  <tr>
    <td><strong>A base64 encoded PEM Cluster CA certificate</strong></td>
    <td>Enter the value of <code>certificate-authority-data</code>
      in your kubeconfig that you recorded.</td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint</strong></td>
    <td>Enter the endpoint value of <code>server</code> in your kubeconfig that you recorded. </td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint port</strong></td>
    <td>Enter the port value of <code>server</code> in your kubeconfig that you recorded.</td>
  </tr>
  <tr>
    <td><strong>Token</strong></td>
    <td>Enter the value of <code>token</code> for service account token that you recorded.</td>
  </tr>
  </table>

For more information about using kubeconfig files,
see [Organizing Cluster Access Using kubeconfig Files](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/)
in the Kubernetes documentation.

### <a id="storage"></a> Configure Storage

<%= vars.product_short %> requires S3-compatible buckets to store offered charts and the chart cache.
The operator is responsible for backing up this bucket.
Follow the instructions from your IaaS provider.

If you use a cloud storage provider that does not natively support S3 buckets,
you must configure your cloud storage to be compatible with S3 to use <%= vars.product_short %>.
See [Prerequisites](#storage-preq), below.

<p class="note warning"><strong>Warning:</strong> If you change the storage configurations,
  the service offering data is lost and you must re-add the service offering to <%= vars.product_short %>.
  For offerings with multiple versions provisioned, the old versions should also be re-added.
  See <a href="./using.html#add">Add a Service Offering to KSM</a>.
</p>

#### <a name="storage-preq"></a> Prerequisites

To configure your cloud storage provider for <%= vars.product_short %>:

+ **Create a policy and an access key for your cloud storage provider:**
Policy creation varies depending on your cloud storage provider.
Pivotal recommends that this account only be used by <%= vars.product_short %>.
You should apply a minimal policy that lets the user account upload backups to your S3 store.
The policy must give <%= vars.product_short %> permissions to list and upload buckets.
For instructions on how to create a policy and access key, see your provider's documentation.

+ **If you are using GCS, you must generate a developer key to be compatible with S3:**
This developer key is used to configure **Access Key ID** and **Secret Access Key** in the table below.
For instructions on how to generate a developer key,
see [Managing developer keys for a simple migration](https://cloud.google.com/storage/docs/migrating#keys) in the GCP documentation.

#### <a name="storage-ksm"></a> Configure Storage in <%= vars.product_short %>

To configure storage in <%= vars.product_short %>:

1. Navigate to **PCF Ops Manager** > **<%= vars.product_full %>** > **Storage Configuration**.

1. Configure the fields as follows:

    <table class="nice">
    <tr>
    <th>Field</th>
    <th>Instructions</th>
    </tr>
    <tr>
      <td><strong>Endpoint</strong></td>
      <td>Enter the S3-compatible endpoint URL for uploading backups.
        The URL cannot start with <code>http://</code> or <code>https://</code>. For example:<br><br>
        <ul>
          <li><code>storage.googleapis.com</code></li>
          <li><code>s3-us-west-2.amazonaws.com</code></li>
        </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Region</strong></td>
        <td> Enter the region where your bucket is located.
          The region defaults to <code>us-east-1</code>.
          Some IaaS providers do not require regions for their buckets.
          For example, Google Cloud Platform Multi-Regional Storage ignores this value.
        </td>
      </tr>
      <tr>
        <td><strong>Bucket Name</strong></td>
        <td>Enter the name of your bucket.</td>
      </tr>
      <tr>
        <td><strong>Access Key ID</strong></td>
        <td>Enter the S3 Access Key ID.</td>
      </tr>
      <tr>
        <td><strong>Secret Access Key</strong></td>
        <td>Enter the Secret Access Key.</td>
      </tr>
      <tr>
        <td><strong>Skip SSL Validation</strong></td>
        <td>Select this checkbox if your environment uses a self-signed certificate
          for the storage provider.
          Do not select this checkbox if you use a production environment. </td>
      </tr>
    </table>

### <a id="container"></a> Configure Private Container Registry

To use <%= vars.product_short %> in an air-gapped environment, configure a private
container registry.
<%= vars.product_short %> can then modify your Helm charts to point to images in the private
container registry.

Pivotal recommends using a private container registry in production.

You obtain the values needed to configure the private registry from your container registry.


<p class="note warning"><strong>Warning:</strong> If you change the private container registry
  configurations, you must load all container images to the new private container registry.
  You must also clear the <%= vars.product_short %> cache by adding a new service offering or updating an existing service offering.<br>
  See <a href="./prepare-offer.html#images">(Optional) Load Container Images</a>
  and <a href="./using.html#add">
  Add a Service Offering to KSM</a>.
</p>

To configure a private container registry:

1. Click **Container Registry Configuration**.
1. Enter the **Registry Server URL**.
This is the URL including your private container registry hostname and project.
For example, `gcr.io/myproject`.
For Docker Hub, use `docker.io/<repository>` for the registry server URL.
This is the location of the private container registry that <%= vars.product_short %> pushes and pulls images.
1. Enter the **Registry Username**.
This is the username that <%= vars.product_short %> uses to push and pull images to the private container registry.
1. Enter the **Registry Password**.
This is the password that <%= vars.product_short %> uses to push and pull images to the private container registry.

### <a id="errands"></a>Errands

The pre-delete errand `deregistar` removes the pre-provisioned Kubernetes service from `cf marketplace`
and **deletes all associated service instances and bindings**.
This errand is disabled by default.

### <a id="apply-changes"></a> Apply All Changes

To deploy <%= vars.product_short %> and apply your configurations:

1. Navigate to the Ops Manager Installation Dashboard.

1. If you are use Ops Manager v2.3 or later, click Review Pending Changes.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).

1. Click **Apply Changes**.
