---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

These are release notes for <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

##<a id="0-7-92"></a> v0.7.92

**Release Date:** March 10, 2020

### Features

New features and changes in this release:

+ Adds additional logging when the broker fails to reload its catalog.

### Known Issue

This release has the following issue:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author. <br><br>
In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.

+ Decreased <%= vars.product_short %> stability around BOSH process monitoring and restarting.

##<a id="0-7-88"></a> v0.7.88

**Release Date:** March 6, 2020

<p class="note breaking"><strong>Breaking Change:</strong> This release is incompatible with the v0.6
  beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.7, you must uninstall
  <%= vars.product_short %> v0.6 from <%= vars.ops_manager_full %>. After you install <%= vars.product_short %> v0.7,
  you must re-add your service offerings.
  For more information, see <a href="./upgrading.html">Upgrading KSM</a>.
  </p>

### Features

New features and changes in this release:

* Upgrades from Helm 2 to [Helm 3](https://helm.sh/docs/faq/#changes-since-helm-2).
This means that <%= vars.product_short %> no longer installs Tiller onto the Kubernetes cluster.
Charts offered in <%= vars.product_short %> must be compatible with Helm 3.

* Moved <%= vars.product_short %> specific customizations out of the Helm chart and into their own directory.
This includes the plans, bind template, and cluster configuration.
This means that users needing to customize their service offering no longer need to repackage the Helm chart.

### Known Issue

This release has the following issue:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author. <br><br>
In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.

+ Decreased <%= vars.product_short %> stability around BOSH process monitoring and restarting.
