---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

These are release notes for <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

##<a id="0-5-0"></a> v0.5.1

**Release Date:** October 28, 2019

### Resolved Issue

This release has the following fix:

* KSM now automatically trusts the Runtime Credhub for storing binding credentials.
This fixes an issue where users could not store binding credentials with CredHub if the
**Include  <%= vars.ops_manager_full %> Root CA in Trusted Certs** checkbox was not selected in Ops Manager.

### Known Issue

This release has the following issue:

+ Binding credentials for service instances brokered by <%= vars.product_short %> are not consistently unique.
If more than one app is bound to the same service instance,
all of the apps use the same credentials to connect to the service instance. If your binding credentials
are compromised, you must rotate the binding credential for all the apps that use the credential.

<%= partial vars.path_to_partials + "/ksm/custom-resources" %>


##<a id="0-5-0"></a> v0.5.0

**Release Date:** October 4, 2019

<p class="note breaking"><strong>Breaking Change:</strong> This release is incompatible with the v0.4
  beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.5, you must uninstall
  <%= vars.product_short %> v0.4 from <%= vars.ops_manager %>.
  After you install <%= vars.product_short %> v0.5,
  you must re-add your service offerings.
  For more information, see <a href="./upgrading.html">Upgrading KSM</a>.
  </p>

### Features

New features and changes in this release:

* Platform operators can offer services that have multiple Helm charts.
For more information, see [(Optional) Offer Multiple Charts in a Single Offering](./prepare-offer.html#multiple-charts).
* The KSM CLI replaces the Bazaar CLI.
* Binding credentials are automatically stored in runtime CredHub.
This requires <%= vars.product_short %> to be installed on a <%= vars.pas_short %> deployment
with CredHub enabled. For instructions about enabling CredHub,
see [Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/2-6/opsguide/secure-si-creds.html).

### Known Issues

This release has the following issues:

+ Binding credentials for service instances brokered by <%= vars.product_short %> are not consistently unique.
If more than one app is bound to the same service instance,
all of the apps use the same credentials to connect to the service instance. If your binding credentials
are compromised, you must rotate the binding credential for all the apps that use the credential.

+ Users cannot store binding credentials with CredHub
if the **Include OpsManager Root CA in Trusted Certs** checkbox is not selected in BOSH Director.

<%= partial vars.path_to_partials + "/ksm/custom-resources" %>
