---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

These are release notes for <%= vars.product_full %>.

##<a id="v0.X.XX"></a> v0.X.XX

**Release Date:** XXXX XX, 2019

<p class="note"><strong>Note:</strong> This release is incompatible with previous
  releases of <%= vars.product_short %>. This is because <%= vars.product_short %> v0.X.XX xxxxxxxxxxxxxxxx
  To use <%= vars.product_short %> v0.X.XX, you must add your charts to the broker again.
  To do this, do the procedures in
  <a href="./using.html#add">Add a Service Offering to <%= vars.product_short %> </a>
   and <a href="./using.html#enable">Enable Service Offering Access</a>.
  </p>

### Features

New features and changes in this release:

* The KSM CLI replaces the Bazaar CLI.
* Binding credentials are automatically stored in Credhub. This requires <%= vars.product_short %> to be installed on a <%= vars.pas_short %> deployment with CredHub enabled. For instructions about enabling CredHub, see [Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/2-6/opsguide/secure-si-creds.html).
* Platform operators can offer services that have multiple Helm charts. For more information, see [(Optional) Offer Multiple Charts in a Single Offering](#multiple-charts).


### Known Issues

There are no known issues in this release.
