---
title: Release Notes
owner: Platform Engineering (KSM Team)
---



<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %> (<%= vars.product_short %>).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

<%= partial vars.path_to_partials + "/ksm/incompatible" %>

##<a id="0-9-XX"></a> v0.9.XX

**Release Date:** XXXX XX, 2020

### Features

New features and changes in this release:

+

### Resolved Issues

This release has the following fix:


### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/ksm/custom-resources" %>
