---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

These are release notes for <%= vars.product_full %>.

##<a id="0-6-42"></a> v0.6.42

**Release Date:** February 4, 2020

### Features

New features and changes in this release:

+ Updated CredHub to v2.6.2.

### Known Issue

This release has the following issue:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author. <br> <br>
In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.

##<a id="0-6-36"></a> v0.6.36

**Release Date:** January 21, 2020

<p class="note breaking"><strong>Breaking Change:</strong> This release is incompatible with the v0.5
  beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.6, you must uninstall
  <%= vars.product_short %> v0.5 from <%= vars.ops_manager_full %>. After you install
  <%= vars.product_short %> v0.6,
  you must re-add your service offerings.
  For more information, see <a href="./upgrading.html">Upgrading KSM</a>.
  </p>

### Features

New features and changes in this release:

* Adds the `ksm version` command. This command shows the <%= vars.product_short %> tile
  and <%= vars.product_short %> CLI versions you are using.
* Adds support for the `global.imageRegistry` key for fetching images from a private registry.
  See [Load Container Images into a Private Container Registry](./prepare-offer.html#images).
* Adds improvements to the `ksm offer save` command:
    * You can now update a service offering with an `--update` flag.
      Previously, the `--update-manifest` flag was used to update service offerings.
    * If you have already added a packaged chart to <%= vars.product_short %>,
      you do not need to provide the path to the same chart when you
      subsequently add service offerings.
    * When you add or update a service offering,
    <%= vars.product_short %> validates that the Helm chart version specified in `ksm.yaml`
    and `Chart.yaml` match. <%= vars.product_short %> validates Helm charts
    that are provided with the command and that are uploaded to ChartMuseum.

### Known Issue

This release has the following issue:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author. <br> <br>
In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.
