---
title: Release Notes
owner: Platform Engineering (TSMGR Team)
---

<%# The below uses the local product variable and math so we do not need to update this page
with every release %>
<%
current_version = product_info['local_product_version']

previous_version = current_version.to_s.split(".")
previous_version[1] = (previous_version[1].to_i - 1).to_s
previous_version = previous_version.join(".")
%>

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %> (<%= vars.product_short %>).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

<%= partial vars.path_to_partials + "/ksm/incompatible" %>

##<a id="0-11-8"></a> v0.11.8

**Release Date:** September 1, 2020

### Features

New features and changes in this release:
* Renamed product Container Services Manager (KSM) to <%= vars.product_full %> (<%= vars.product_short %>).
* State is moved to CRDs in cluster
    - PostgreSQL is no longer required
* Surface a Helm chart's JSON schema when present. Apps Manager will use this during provision to render a UI for service creation.
* Added automated installer for dev environments
* Helm chart changes
    - Added a debug flag
    - Split private registry into two settings (one for <%= vars.product_short %>'s own containers and one for provisioned services)
    - Added the ability to use a TAS UAA Client in addition a TAS existing user
    - If using a `values.yaml` defined for a previous release, fully evaluate against the current version.
* Added labels and additional metadata to containers
* Readiness and liveness probes
* Service provisions will succeed even if the broker is restarted while in progress
* Improved error logging
* Reduced permission set that <%= vars.product_full %> uses in the Platform cluster.

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/ksm/custom-resources" %>
