---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial "../../ksm/partials/services/beta-notice" %>

These are release notes for <%= vars.product_full %>.

##<a id="0-5-0"></a> v0.5.1

**Release Date:** October 28, 2019

### Resolved Issue

This release has the following fix:

* KSM now automatically trusts the Runtime Credhub for storing binding secrets.
This fixes an issue where users could not store bind credentials with CredHub if the 
**Include Ops manager Root CA in Trusted Certs** checkbox was not selected in Ops Manager.

### Known Issue

This release has the following issue:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author. <br><br>In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.
+ Binding credentials are not guaranteed to be unique for services brokered by <%= vars.product_short %>.
In general, every application bound to a specific service instance will receive and use the
same credentials to connect to the service.


##<a id="0-5-0"></a> v0.5.0

**Release Date:** October 4, 2019

<p class="note breaking"><strong>Breaking Change:</strong> This release is incompatible with the v0.4
  beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.5, you must uninstall
  <%= vars.product_short %> v0.4 from <%= vars.ops_manager %>.
  After you install <%= vars.product_short %> v0.5,
  you must re-add your service offerings.
  For more information, see <a href="./upgrading.html">Upgrading KSM</a>.
  </p>

### Features

New features and changes in this release:

* Platform operators can offer services that have multiple Helm charts.
For more information, see [(Optional) Offer Multiple Charts in a Single Offering](./prepare-offer.html#multiple-charts).
* The KSM CLI replaces the Bazaar CLI.
* Binding credentials are automatically stored in runtime CredHub.
This requires <%= vars.product_short %> to be installed on a <%= vars.pas_short %> deployment
with CredHub enabled. For instructions about enabling CredHub,
see [Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/2-6/opsguide/secure-si-creds.html).

### Known Issues

This release has the following issues:

+ If your chart uses custom resources, <%= vars.product_short %> might incorrectly report that a service instance
was created successfully before the custom resources are created.
This is because Kubernetes does not have a generic method to detect resource readiness.
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author.<br><br>
In the unlikely event that this happens, wait until the custom resources are created before binding
a service instances to an app.
This mitigates any issues with missing details in the bind response.

+ Users cannot store bind credentials with CredHub if the **Include OpsManager Root CA in Trusted Certs** checkbox is not selected in BOSH Director.
