---
title: Release Notes
owner: Platform Engineering (KSM Team)
---
<%# The below uses the local product variable and math so we do not need to update this page
with every release %>
<% previous_version = (product_info["local_product_version"].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>


<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %> (<%= vars.product_short %>).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

<%= partial vars.path_to_partials + "/ksm/incompatible" %>

##<a id="1-0-XX"></a> v1.0.XX

**Release Date:** XXXX X, 2020

### Features

New features and changes in this release:

* <%= vars.product_short %> is now offered as a Helm chart.
  You can use this chart to deploy <%= vars.product_short %> on Kubernetes.
  For more information, see [Installing <%= vars.product_short %> using Helm](./installing-helm.html).

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/ksm/custom-resources" %>
