---
title: Release Notes for Container Services Manager for PCF
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

These are release notes for <%= vars.product_full %>.

##<a id="v0.X.XX"></a> v0.X.XX

**Release Date:** XXXX XX, 2019

<p class="note"><strong>Note:</strong> This release is incompatible with previous
  releases of <%= vars.product_short %>. This is because <%= vars.product_short %> v0.X.XX xxxxxxxxxxxxxxxx
  To use <%= vars.product_short %> v0.X.XX, you must add your charts to the broker again.
  To do this, do the procedures in
  <a href="./using.html#add">Add a Service Offering to <%= vars.product_short %> </a>
   and <a href="./using.html#enable">Enable Service Offering Access</a>.
  </p>

### Features

New features and changes in this release:

* The KSM CLI replaces the Bazaar CLI.

### Known Issues

There are no known issues in this release.
