---
title: Release Notes
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial "../../ksm/partials/services/beta-notice" %>

These are release notes for <%= vars.product_full %>.

##<a id="0-X-XX"></a> v0.6.XX

**Release Date:** XXXX XX, XXXX

<p class="note breaking"><strong>Breaking Change:</strong> This release is incompatible with the v0.5
  beta release of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.6, you must uninstall
  <%= vars.product_short %> v0.5 from Ops Manager. After you install <%= vars.product_short %> v0.6,
  you must re-add your service offerings.
  For more information, see <a href="./upgrading.html">Upgrading KSM</a>.
  </p>

### Features

New features and changes in this release:


### Known Issue

This release has the following issue:

+ If you chart uses custom resources, <%= vars.product_short %> might incorrectly report a service instance
was created successfully before the custom resources are created.
This because Kubernetes does not have a generic method to detect resource readiness. 
Kubernetes primitives have known patterns for detecting readiness, but custom resource readiness is defined by its author.
In the unlikely event that this happens, you should wait until the custom resources are created before binding
a service instances to an app. 
This mitigates any issues with missing details in the bind response.
