---
title: Configuring External Storage
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

This topic describes how to configure storage for <%= vars.product_full %> (<%= vars.product_short %>).

## <a id="overview"></a> Overview

<%= vars.product_short %> requires an S3-compatible bucket to store offered charts and the chart cache.
The operator is responsible for backing up this bucket.

To configure external storage, do one of the following:

+ **To configure an S3-compatible bucket,** follow the procedures your external storage solution.

+ **If you use a external storage solution that does not natively support S3 buckets,**
you must configure your cloud storage to be compatible with S3.
  See [Configure Non-S3 Storage](#non-s3) below.

<p class="note warning"><strong>Warning:</strong> If you change the storage configurations,
  the service offering data is lost and you must re-add the service offering to <%= vars.product_short %>.
  For offerings with multiple versions provisioned, the old versions should also be re-added.
  See <a href="./using.html#add">Add a Service Offering to <%= vars.product_short %></a>.
</p>

## <a id="non-s3"></a> Configure Non-S3 Storage

To configure your cloud storage provider for <%= vars.product_short %>, you must create a policy and an access key for your cloud storage provider.

Policy creation varies depending on your cloud storage provider.
VMware recommends that only <%= vars.product_short %> uses this account.
You should apply a minimal policy that lets the user account upload backups to your S3 store.
The policy must give <%= vars.product_short %> permissions to list and upload buckets.
For instructions on how to create a policy and access key, see your provider's documentation.

If you are using Google Cloud Storage (GCS), you must generate a developer key for GCS to use an S3 compatible API.
This developer key provides the credentials required to configure storage in <%= vars.product_short %>.
For instructions on how to generate a developer key,
see [Managing developer keys for a simple migration](https://cloud.google.com/storage/docs/migrating#keys) in the GCP documentation.
