---
title: Troubleshooting Container Services Manager for PCF
owner: Platform Engineering (KSM Team)
---

<%= partial ("beta-notice") %>

<strong><%= modified_date %></strong>

This topic provides operators with basic instructions for troubleshooting
<%= vars.product_full %>.

## <a id='issue-debugging'></a> Advanced Debugging
Advanced debugging might require using the `helm` and `kubectl` CLIs.

* [Tiller](https://docs.helm.sh/glossary/#tiller) is the server side component of Helm.
<%= vars.product_short %> installs Tiller with mTLS into a specific namespace, `kibosh`,
and will handle upgrades of the Tiller version during a Tile upgrade.

* To manually run `helm` commands:

1. Target the Kubernetes cluster with `kubectl`.
1. Download the mTLS credentials from Ops Manager to talk to the `<%= vars.product_short %>'s Helm`:
    + Navigate to the **Ops Manager Installation Dashboard** > **<%= vars.product_full %>** Tile >
    **Credentials** > **Tiller Certificate**
    + Create a private key file with the contents of the RSA Private Key.
    + Create a certificate file with the contents of the Certificate.
1. Run `helm` commands with mTLS configuration, for example:

    ```
    helm ls --tiller-namespace kibosh --tls --tls-cert PATH-TO-CERT.pem --tls-key PATH-TO-KEY.pem
    ```
    Where:
    + `PATH-TO-CERT.pem` is the path to the certificate file retrieved above.
    + `PATH-TO-KEY.pem` is the path to the private key file retrieved above.

##<a id='issue-cleanup'></a> Cleanup
<%= vars.platform %> gives an asynchronously provisioned service seven days to become healthy. It
sometimes requires manual cleanup to remove services earlier in some failure modes.
[Purging a service instance](https://docs.cloudfoundry.org/services/managing-service-brokers.html#purge-a-service-instance)
removes the service from <%= vars.platform %>. 
This might, however, leave resources in the backing cluster.

To fully clean up, delete the Helm release and the namespace, if either is still present.
Both the cluster and the Helm resources are named after the service's GUID.

```bash
kubectl get namespaces
helm delete namespace kibosh-GUID
kubectl delete namespace kibosh-GUID
```
