---
title: Upgrading KSM
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the <%= vars.product_full %>.

## <a id="overview"></a>Overview

<%= vars.product_short %> v0.4 is incompatible with new releases of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.5, you must uninstall the
  <%= vars.product_short %> v0.4 from Ops Manager.
  After you install <%= vars.product_short %> v0.5, you must re-add your service offerings.

  To upgrade <%= vars.product_short %> you must:

  1. Uninstall the <%= vars.product_short %> v0.4.
  See [Uninstall <%= vars.product_short %>](#uninstall) below.
  1. Install the new release of <%= vars.product_short %>.
  See [Installing and Configuring <%= vars.product_short %>](./installing.html).
  1. Add and enable access to your service offerings. See [Add a Service Offering to KSM](./using.html#add)
  and [Enable Service Offering Access](./using.html#enable).

## <a id="uninstall"></a> Uninstall <%= vars.product_short %>

To uninstall <%= vars.product_short %>:

1. Navigate to **Ops Manager Installation Dashboard** >
**<%= vars.product_full %>** > **Errands**.
1. Confirm that **deregister** is set to **On**.
2. Navigate to **Ops Manager Installation Dashboard** and click the trash icon
for **<%= vars.product_full %>**.
1. If you are use Ops Manager v2.3 or later, click Review Pending Changes.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).

1. Click **Apply Changes**.
