---
title: Upgrading KSM
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the <%= vars.product_full %> tile and service instances.

## <a id="overview"></a>Overview

<%= vars.product_short %> is incompatible with previous
  releases of <%= vars.product_short %>.
  Before you install <%= vars.product_short %> v0.X, you must delete the service instances
  from the previous release of <%= vars.product_short %> and uninstall the tile from Ops Manager.
  After you install <%= vars.product_short %> v0.X, you must add your service offerings again.

  To upgrade the <%= vars.product_short %> tile you must:

  1. Delete the previous release of <%= vars.product_short %>
  1. Install the new release of <%= vars.product_short %>
  1. Upgrade service instances

  <%# DO PPL NEED TO UPGRADE THE SERVICE INSTANCES WHEN THEY UPGRADE THE TILE
  OR IS THIS A SEPARATE THING? IF PPL UPGRADE THE TILE, DO THEY NEED TO CHANGE THEIR
  CHARTS? %>

## <a id="install-service"></a>Install <%= vars.product_short %>

To upgrade the <%= vars.product_short %> tile:

1. Review the [Release Notes](./release-notes.html) for the version you are upgrading to.

1. Download the Ubuntu Xenial stemcell from
[Pivotal Network](https://network.pivotal.io/products/stemcells-ubuntu-xenial),
and import it into the Ops Manager Stemcell Library. For instructions,
see [Verify Stemcell Version and Apply All Changes](./install-config.html#stemcell).

1. Download the desired version of the product from
[Pivotal Network](https://network.pivotal.io/products/p-mysql).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload
the product file.

1. Under the **Import a Product** button, click **+** next to **<%= vars.product_full %>**.
This adds the tile to your staging area.

1. Click the newly-added **<%= vars.product_full %>** tile to review its configuration panes.
Click **Save** on any panes where you make changes.

1. Return to the Ops Manager Dashboard and do the following to complete the installation:

    1. Click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>
    1. Click **Apply Changes**.

1. After the upgrade completes, upgrade all of the service instances to the new version,
as described in [Upgrade Service Instances](#upgrade-instances) below.
