---
title: Using Container Services Manager for PCF
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

This topic describes how to use <%= vars.product_full %>.

##<a id='using'></a> Overview

<%= vars.product_short %> uses the `ksm` CLI and a generic broker deployed by the tile.
You can use <%= vars.product_short %> to do the following:

+ Offer on-demand provisioning of a dedicated service instance for developers through `cf marketplace`.
+ Create a catalog of services with customizable plans that can be deployed on multiple clusters.

##<a id="prereq"></a>Prerequisites

 <%# <!-- TODO: point to prepare-offer section--> %>

###<a id='images'></a> (Optional) Load Container Images

You need to load container images into a private registry if either of the following apply:

+ Your environment is air gapped and cannot connect to common registries such as
[Docker Hub](https://hub.docker.com/) and
[Quay](https://quay.io/)
+ The images referenced in the Helm chart are not public

You must load the images before a developer runs `cf create-service`.

To load your container images follow instructions for your specific registry.
Harbor [instructions](https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#pulling-and-pushing-images-using-docker-client)

## <a id="add"></a> Add a Service Offering to <%= vars.product_short %>

After you configure your Helm chart for <%= vars.product_short %> you must package it and
add the offering to <%= vars.product_short %> to let developers use it.
To add your offering to <%= vars.product_short %>, do the following:

1. To package your Helm chart, run the following command from the root level of
your Helm chart directory:

    ```
    helm package .
    ```

    Verify that you now have a file named `CHART-NAME-#.#.#.tgz` in the root level of your
    Helm chart directory.

1. Navigate to the **Ops Manager Installation Dashboard** > **<%= vars.product_tile %>** > **Credentials**.

1. Retrieve your **KSM API Credentials** by clicking **Link to Credentials**.

1. Record the values for `identity` and `password`.

1. To add the Helm chart as a dedicated instance service offering to <%= vars.product_short %>, run the following
command:

    ```
    ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer save /PATH-TO-YOUR-CHART.tgz
    ```
    Where:
    + `SYSTEM-DOMAIN` is your PCF system domain URL.
    + `USERNAME` is the value of `identity` you recorded in step 3.
    + `PASSWORD` is the value of `password` you recorded in step 3.
    + `PATH-TO-YOUR-CHART.tgz` is the path to the packaged chart created in step 1.


1. To ensure your offering has been saved to <%= vars.product_short %>, run the following command:

    ```
    ksm -t  http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer list
    ```
    Where:
    + `SYSTEM-DOMAIN` is your PCF system domain URL.
    + `USERNAME` is the value of `identity` you recorded in step 3.
    + `PASSWORD` is the value of `password` you recorded in step 3.

## <a id="enable"></a> Enable Service Offering Access

After you add your service offering, you must enable access to the service offering.
To enable access to your service offering, do the following:

1. To log in to your PAS deployment, do the following:

    ```
    cf login -a API-URL -u USERNAME -p PASSWORD
    ```

    Where:
    + `API-URL` is the API endpoint for your PAS instance.
    + `USERNAME` is your username for your PAS instance.
    + `PASSWORD` is your password for your PAS instance.

    For more information,
    see [Getting Started with the cf CLI](https://docs.pivotal.io/pivotalcf/2-4/cf-cli/getting-started.html#login).

1. To enable access to the service for all orgs, run the following command:

    ```
    cf enable-service-access SERVICE-NAME
    ```
    Where `SERVICE-NAME` is the name of the new service that you viewed in step 6 of
    [Add a Service Offering to <%= vars.product_short %>](#add) above.


1. To view the newly created service plan, run the following command:

    ```
    cf marketplace
    ```

## <a id="delete"></a> Delete a Service Offering

1. To delete a service offering, run the following command:

    ```
    ksm -t  http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer delete YOUR-CHART
    ```
    Where:
    + `SYSTEM-DOMAIN` is your PCF system domain URL.
    + `USERNAME` is the value of `identity` you recorded in step 3 of
    [Add a Service Offering to Container Services Manager for PCF](#add) above.
    + `PASSWORD` is the value of `password` you recorded in step 3 of [
    Add a Service Offering to Container Services Manager for PCF](#add) above.
    + `YOUR-CHART` is the name of the service offering you want to delete that you viewed in step 1.

    <p class="note"><strong>Note:</strong> If you only have one service offering in <%= vars.product_short %>, you
      cannot delete it.</p>
