---
title: Using KSM
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

This topic describes how to use <%= vars.product_full %>.

##<a id='using'></a> Overview

<%= vars.product_short %> uses the KSM CLI and a generic broker deployed by the tile.
You can use <%= vars.product_short %> to do the following:

+ Offer on-demand provisioning of a dedicated service instance for developers through `cf marketplace`.
+ Create a catalog of services with customizable plans that can be deployed on multiple clusters.

To add a service offering:

1. Retrieve the credentials needed to use the KSM CLI. <br>
See [Retrieve Credentials for <%= vars.product_short %>](#credentials) below.
1. Package your Helm chart and add the chart to <%= vars.product_short %>. <br>
See [Add a Service Offering to <%= vars.product_short %>](#add) below.
1. Enable access to the service offering for your developers to use. <br>
See [Enable Service Offering Access](#enable) below.

##<a id="prereq"></a>Prerequisites

Before you deploy a service offering, you must configure the service offering.
See [Preparing a Service Offering](./prepare-offer.html).


## <a id="credentials"></a> Retrieve Credentials for <%= vars.product_short %>

To use the KSM CLI, you need to retrieve your KSM API credentials.

To retrieve your KSM API Credentials:

1. Navigate to the **<%= vars.ops_manager_full %> Installation Dashboard** >
**<%= vars.product_full %>** > **Credentials**.

1. Retrieve your **KSM API Credentials** by clicking **Link to Credentials**.

1. Record the values for `identity` and `password`.

1. Validate the credentials for <%= vars.product_short %> by running the following command:

    ```
    ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer list
    ```
    Where:
    + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
    + `USERNAME` is the value of `identity` you recorded in the above step.
    + `PASSWORD` is the value of `password` you recorded in the above step.

## <a id="add"></a> Add a Service Offering to <%= vars.product_short %>

You must package your Helm charts and add the offering to <%= vars.product_short %> to enable developers
to use the service.

To add your offering to <%= vars.product_short %>:

1. Package your Helm chart by running the following command from the root level of
your Helm chart directory:

    ```
    helm package .
    ```

    Verify that you now have a file named `CHART-NAME-#.#.#.tgz` in the root level of your
    Helm chart directory.

1. Add your Helm charts as a dedicated instance service offering to <%= vars.product_short %>
by doing one of the following:
    + **If you are adding a single chart,** run:

        ```
        ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer save /PATH-TO-YOUR-CHART.tgz
        ```
        Where:
        + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
        + `USERNAME` is the value of `identity` you recorded in
        [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PASSWORD` is the value of `password` you recorded in
        [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PATH-TO-YOUR-CHART.tgz` is the path to the packaged chart you created in the above step.
    + **If you are adding multiple charts,** run:

        ```
        ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer save \
        /PATH-TO-KSM-DIRECTORY/ /PATH-TO-YOUR-CHART_1.tgz /PATH-TO-YOUR-CHART_2.tgz
        ```
        Where:
        + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
        + `USERNAME` is the value of `identity` you recorded in
        [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PASSWORD` is the value of `password` you recorded in
        [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PATH-TO-KSM-DIRECTORY/` is the path to the `ksm` directory that includes the `ksm.yaml`
            file for your service offering.
        + `PATH-TO-YOUR-CHART_1.tgz` is the path to a packaged chart you referenced in your `ksm.yaml` file.
        + `PATH-TO-YOUR-CHART_2.tgz` is the path to a packaged chart you referenced in your `ksm.yaml` file.

        <p class="note"><strong>Note:</strong>
          If you have already added a packaged chart to <%= vars.product_short %>,
            you do not need to provide the path to the same chart when you
            subsequently add service offerings.
        </p>
        For more information about offering multiple charts,
        see [(Optional) Offer Multiple Charts in a Single Offering](./prepare-offer.html#multiple-charts).

    <p class="note"><strong>Note:</strong>
      If the Helm chart version specified in <code>ksm.yaml</code>
      and <code>Chart.yaml</code> do not match, <%= vars.product_short %>
      returns a error message similar to the following:
      <code>Error: The offer yaml version [2.3.0] for chart [mysql] does not match the version [1.3.0] in chart</code>
    </p>
1. Ensure your offering has been saved to <%= vars.product_short %> by running:

    ```
    ksm -t  http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer list
    ```
    Where:
    + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
    + `USERNAME` is the value of `identity` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
    + `PASSWORD` is the value of `password` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.

## <a id="enable"></a> Enable Service Offering Access

After you add your service offering, you must enable access to the service offering.

To enable access to your service offering:

1. Log in to your PAS deployment by running:

    ```
    cf login -a API-URL -u USERNAME -p PASSWORD
    ```

    Where:
    + `API-URL` is the API endpoint for your PAS instance.
    + `USERNAME` is your username for your PAS instance.
    + `PASSWORD` is your password for your PAS instance.

    For more information,
    see [Getting Started with the cf CLI](https://docs.pivotal.io/pivotalcf/2-4/cf-cli/getting-started.html#login).

1. Enable access to the service for all orgs by running:

    ```
    cf enable-service-access SERVICE-NAME
    ```
    Where `SERVICE-NAME` is the name of the new service that you viewed in step 6 of
    [Add a Service Offering to <%= vars.product_short %>](#add) above.


1. View the newly created service plan by running:

    ```
    cf marketplace
    ```

## <a id="update-offering"></a> Update a Service Offering

When you update a service offering in <%= vars.product_short %>, any newly-created service instances
use the latest version of the service offering.
Existing instances must be manually upgraded.
See [Upgrade a Service Instance](#upgrade-instance) below.

To update a single chart service offering in  <%= vars.product_short %>:

1. Update your chart by doing one of the following:
      + **If you are updating a single chart,** after you edit your Helm chart,
        update the chart version in the `Chart.yaml` file.
      + **If you are adding multiple charts,** after you edit the Helm charts and `ksm.yaml`,
        update the chart versions in the `Chart.yaml` files.
        For more information about multiple charts and `ksm.yaml`,
        see [(Optional) Offer Multiple Charts in a Single Offering](./prepare-offer.html#multiple-charts).

1. Package an updated version of your Helm chart by running the following command from the root level of your Helm chart directory:

     ```
     helm package .
     ```

     Verify that you now have a file named `CHART-NAME-#.#.#.tgz` in the root level of your Helm chart directory.

     <p class="note"><strong>Note:</strong> If you are updating multiple charts, run the above command for each updated chart.
     </p>

1. Update the service offering by running one of the following commands:
    + **If you are adding a single chart,** run:

        ```
        ksm -t  http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer save /PATH-TO-YOUR-CHART.tgz --update
        ```
        Where:
        + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
        + `USERNAME` is the value of `identity` you recorded in [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PASSWORD` is the value of `password` you recorded in [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PATH-TO-YOUR-CHART.tgz` is the name of the service offering you want to delete.
    + **If you are adding a multiple charts,** run:

        ```
        ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer save \
        /PATH-TO-KSM-DIRECTORY/ /PATH-TO-YOUR-CHART_1.tgz /PATH-TO-YOUR-CHART_2.tgz --update
        ```
        Where:
        + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
        + `USERNAME` is the value of `identity` you recorded in [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PASSWORD` is the value of `password` you recorded in [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
        + `PATH-TO-KSM-DIRECTORY/` is the path to the `ksm` directory that includes
            the `ksm.yaml` file for your service offering.
        + `PATH-TO-YOUR-CHART_1.tgz` is the path to a packaged chart you referenced in your `ksm.yaml` file.
        + `PATH-TO-YOUR-CHART_2.tgz` is the path to a packaged chart you referenced in your `ksm.yaml` file.

    <p class="note"><strong>Note:</strong>
      If the Helm chart version specified in <code>ksm.yaml</code>
      and <code>Chart.yaml</code> do not match, <%= vars.product_short %>
      returns a error message similar to the following:
      <code>Error: The offer yaml version [2.3.0] for chart [mysql] does not match the version [1.3.0] in chart</code>
    </p>

## <a id="upgrade-instance"></a> Upgrade a Service Instance

To upgrade service instances:

1. Update and package a new version of your Helm chart by doing the steps in [Update a Service Offering](#update-offering) above.

1. Retrieve the GUID for the service instance that you are upgrading by running:

    ```
    ksm -t http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD instance list SERVICE-OFFERING
    ```
    Where:
    + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
    + `USERNAME` is the value of `identity` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
    + `PASSWORD` is the value of `password` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
    + `SERVICE-OFFERING` is the name of the service offering that you want to see service instances of.

    Record the value in `INSTANCE GUID` column for the instance you are upgrading.

1. Retrieve the Helm release name for a service instance by running:

    ```
    helm ls --namespace=ksm-INSTANCE-GUID
    ```
    Where `INSTANCE-GUID` is the GUID of the service instance retrieved in the previous step.

    Record the value in the `NAME` column. This is the release name of the service instance.
    <p class="note"><strong>Note:</strong> If your service offering has multiple charts,
      the above command might list multiple releases.
      Record the release names for charts that have been updated.
    </p>

1. For each Helm release, upgrade your service instances by running:

    ```
    helm upgrade RELEASE-NAME /PATH-TO-YOUR-CHART.tgz --namespace=ksm-INSTANCE-GUID
    ```
    Where:
   + `RELEASE-NAME` is the name of the release you retrieved in the previous step.
   + `PATH-TO-YOUR-CHART.tgz` is the path to the updated packaged chart that was created in
   [Update a Service Offering](#update-offering) above.

   <p class="note"><strong>Note:</strong> The above command only applies changes to values in
     <code>values.yaml</code> to service instances.
     Any changes to values in <code>plans.yaml</code> are ignored.
   </p>

## <a id="delete"></a> Delete a Service Offering


 <p class="note"><strong>Note:</strong>
   <%= vars.product_short %> does not permit deleting service offerings if service instances of that offering exist.
   This is because if an offering was deleted while service instances of the offering existed,
   you could not do operations against that service instance.
   For example, you could not run <code>cf update-service</code>.
</p>

To delete a service offering:

1. If service instances of the service offering exist, for each service instance,
delete the instance by running:

    ```
    cf delete-service SERVICE-NAME
    ```

1. Delete a service offering by running:

    ```
    ksm -t  http://ksm.SYSTEM-DOMAIN -u USERNAME -p PASSWORD offer delete YOUR-CHART
    ```
    Where:
    + `SYSTEM-DOMAIN` is your <%= vars.platform_name %> system domain URL.
    + `USERNAME` is the value of `identity` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
    + `PASSWORD` is the value of `password` you recorded in
    [Retrieve Credentials for <%= vars.product_short %>](#credentials) above.
    + `YOUR-CHART` is the name of the service offering you want to delete.

    <p class="note"><strong>Note:</strong> If you only have one service offering in
      <%= vars.product_short %>, you cannot delete it.
    </p>
